* {
	font-family: Glacial Indifference, Glacial Indifference Bold;
}

@font-face {
	font-family: "Glacial Indifference";
	src: local("Glacial Indifference"),
		url("./fonts/GlacialIndifference-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Glacial Indifference Bold";
	src: local("Glacial Indifference Bold"),
		url("./fonts/GlacialIndifference-Bold.ttf") format("truetype");
}

body {
	background-color: white;
	margin: 0;
	padding: 0;
}
